.profile-menu {
  position: relative;
  &__btn {
    height: 55px;
    border: none;
    padding: 0;
    border-radius: 9999px;
  }

  &__img {
    height: inherit;
    border-radius: inherit;
  }

  &__dropdown {
    position: absolute;
    right: 0;
    z-index: 9999;

    background-color: var(--bg3);
    border-radius: var(--base-border-radius);

    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: 10px 30px;
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--bg2);
      &::before {
        content: "";
        height: 15px;
        width: 5px;
        background-color: var(--osu-green);
        position: absolute;
        left: 13px;
        top: 15px;
        border-radius: var(--base-border-radius);
      }
    }
  }
}
