#root {
    height: 100vh;
    --bg1: #1c1719;
    --bg2: #382e32;
    background-color: var(--bg1);
}

#root > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
    color: inherit;
    margin: 0px;
}

p {
    margin: 0px;
}

.nav-bar {
    background-color: #3d2932 !important;
}

.nav-link {
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-right: 15px;
}
.nav-link:hover {
    background-color: rgb(150, 150, 150);
}

.nav-logo-text {
    margin: 1px;
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .3rem;
    text-decoration: none;
    color: inherit;
}