@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --bg1: #1c1719;
    --bg2: #382e32;
    background-color: var(--bg1);
    height: 100vh;
}

#root {
    height: 100vh;
    background-color: var(--bg1);

}

#root > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
    color: inherit;
    margin: 0px;
}

p {
    margin: 0px;
}

.nav-bar {
    background-color: #3d2932 !important;
    min-height: 64px;
    max-height: 64px;
}

.nav-link {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}
.nav-link:hover {
    background-color: #6c585e;
}

.nav-logo-text {
    margin: 1px;
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .3rem;
    text-decoration: none;
    color: inherit;
}

.page {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow-y: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:20px 20px;
}

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background-color: none;
}
::-webkit-scrollbar-track:hover {
    width: 10px;
}


::-webkit-scrollbar-track-piece {
    background-color: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 10px;
}

.MuiToolbar-root {
    height: 64px;
}