@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --bg1: #1c1719;
  --bg2: #382e32;
  --bg3: rgb(71, 58, 63);
  --base-font-size: 14px;
  --base-border-radius: 5px;
  --text-color: #fff;
  --osu-purple: #8c66ff;
  --osu-blue: #54b2e0;
  --osu-green: #73ff66;
  --osu-pink: #ff66ab;
  --osu-pink2: #fca5a5;
  --osu-brown: #ff9966;
  --osu-yellow: #ffd866;
  --osu-red: #cc3333;
  --nm-color: #7fc8ff;
  --hd-color: #ffff7f;
  --hr-color: #ff7f7f;
  --dt-color: #ee7fff;
  --fm-color: #7fff7f;
  --tb-color: #c4c4c4;
  --gold-color: #ffbd42;
  --silver-color: #d9d9d9;
  --bronze-color: #cf640d;
  --boxshadow-blue: 0px 0px 10px 2px var(--osu-blue);
  --boxshadow-white: 0px 0px 5px 1px white;
  background-color: var(--bg1);
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
  font-size: var(--base-font-size);
}

::placeholder {
  color: #aaa;
  font-family: "Comfortaa", sans-serif;
  font-size: var(--base-font-size);
}

body {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: var(--base-font-size);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input {
  font-family: inherit;
  font-size: var(--base-font-size);
}

button:focus {
  outline: none;
}

:focus {
  box-shadow: var(--boxshadow-blue);
  -webkit-box-shadow: var(--boxshadow-blue);
  -moz-box-shadow: var(--boxshadow-blue);
  border-radius: inherit;
}

:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c5c5c;
  border-radius: var(--base-border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: var(--base-border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

.page {
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 5px;
}
