.dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 500px;
  width: 80%;
  max-width: 750px;
  background-color: var(--bg2);
  overflow-y: auto;
  z-index: 100;
  padding: 20px;
  border-radius: var(--base-border-radius);
}
