# Ignore Visual Studio files
.vscode/
*.suo
*.sln
*.user
*.userprefs
/.vs/
/.vscode/
/.idea/

# Ignore build output folders
/bin/
/obj/
/[Dd]ebug/
/[Rr]elease/

# Ignore NuGet package files
/packages/
*.nupkg

# Ignore user-specific files and settings
*.suo
*.user
*.userprefs
*.sln.docstates
*.env
out
creds.json